<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lab Subnet Monitor</title>
    <style>
        body {
            font-family: 'sans-serif';
        }
    </style>
</head>

<body>
    <!-- <h2>Lab Subnet Monitor</h2> -->
    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>MAC address</th>
                <th>Administrator</th>
                <th>Device type</th>
                <th>Description</th>
                <th>Floor</th>
                <th>Ethernet port</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td class="ip">{{ device.ip }}</td>
                <td class="ip">{{ device.mac_address or '-' }}</td>
                <td> {{device.administrator or '-'}}</td>
                <td>{{ device.device_type or '-' }}</td>
                <td>{{ device.description or '-' }}</td>
                <td> {{device.floor or '-'}}</td>
                <td> {{device.ethernet_port or '-'}}</td>
                <td>
                    {% if device.last_seen %}
                    <span class="online">{{ device.last_seen }}</span>
                    {% else %}
                    <span class="offline">-</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>